<%if @resturant%>
      <div class='col-md-3'>
      <div class="card card-margin" style="width: 25rem;">
            <% if @resturant.avatar!=nil%>
            <%=image_tag @resturant.avatar, class:"card-img-top",height:"250px" if @resturant.avatar.attached? %>
            <%end%>
            <div class="card-body">
            <h3 class="card-title"> <%=@resturant.name%><h3>
            </div>
      </div>
      </div>
<%end%>
