<% @resturants.each do |item| %>

    <h1>Product:<%=item.name%><h1>
    <% if item.avatar!=nil%>
      <p>
        <%=image_tag item.avatar, width: "200px" if item.avatar.attached? %>
      </p>
    <%end%>

    <h4>Descripion:<%=item.description%><h1>
    <h4>Price:<%=item.price%><h1>
  <br>
<% end %>
